h2{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-shadow: 10px;
	background-color: yellow;

}
footer{
	padding-top: 20px;
}
.ya{
 font-family:copperplate;
background-color: white;

}